body {
  background-color: #483D8B;
}

#menu-algo,#div-actions,#div-algo {
  float: left;
  position: relative;
}

#menu-algo{
  background-color: white; 
  color: black; 
  min-height: 704px;
}

#div-actions {
  background-color: white;
  z-index: 2;
}

#tabs-files {
  margin-left: 115.11px;
}


#div-algo {
    background-color:chocolate;
}

#menu-algo a {
  display: block; 
  padding: 12px; 
  text-decoration: none; 
}

#menu-algo a:hover {
  background-color: #ccc; 
}

#menu-algo a:focus {
  background-color: green;
  color: white; 
}

#btn-generate-code {
    background-color: greenyellow;
    color: white;
}

.tab {
  background-color:white;
  float:left;
}

.tab:hover {
  color: red;
  cursor: pointer;
}

.tab-separator {
  background-color: black;
  float:left;
}
